.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.left-arrow {
  width: 5vw;
  transform: rotateY(180deg);
}

.right-arrow {
  width: 5vw;
}

.selector{
  display: flex;
  justify-content: space-evenly;
  padding-top: 5vw;
  margin-left: 25vw;
  margin-right: 25vw;
}



.canola-plant{
  height: 80vh;
}

.dna{
  
  height: 80vh;
  padding-left: 5vw;
}

.dna-selector{
  display: flex;
  justify-content: space-between;
  margin-left: 20vw;
  margin-right: 5vw;

}


.gene-editor{
  display: flex;
  justify-content: space-evenly;
  margin-left: 15vw;
  width: 85vw;


}


.background {
  z-index: -1;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.start_div{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.start_button{

  font-size: 75px;
  border-style: solid;
  border-color: black;
  color: black;
  margin-left: 40vw;
  margin-top: 60vh;
  display: inline-block;
  text-decoration: none;
}


.slide-div{
  display: flex;
}
.slide-text{
  margin-top: 15vh;
  font-size: 30px;
  margin-left: 10vw;
  margin-right: 10vw;
  line-height: 200%;

}

.slide-arrow-right{
  margin-top: 40vh;
  margin-right: 5vw;
  width: 10vw;
}

.slide-arrow-left{
  margin-top: 40vh;
  margin-left: 5vw;
  width: 10vw;
  transform: rotateY(180deg);

}

.game-screen {
  background-image: url("Assets/Watercolour-background.jpeg");
  width: 100vw;
  height: 100vh;
}

@media screen{
  .hide {
    display: none;
  }
}