.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.sour-gummy {
  font-family: "Sour Gummy";
  font-weight: 300;
}

.sour-gummy-bold {
  font-family: "Sour Gummy";
  font-weight: 500;
  font-size: 48px;
}

.sour-gummy-sub {
  font-family: "Sour Gummy";
  font-weight: 400;
  font-size: 36px;
  line-height: 15%;
}

.sour-gummy-sub-sub{
  font-family: "Sour Gummy";
  font-weight: 300;
  font-size: 24px;
  
}

.display-linebreak {
  white-space: pre-line;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#openModal{
  margin-top: 5vh;
  margin-bottom: 7vh;
  width: 10vw;
}

.background {
  width: 100vw !important;
  height: 100vh !important;
  object-fit: cover;
  position: absolute;
  z-index: -2;
}

.background > video{
  width: 100vw !important;
  height: 100vh !important;
  object-fit: cover !important;
}


.start-button{
  z-index: 1;
  position: absolute;
  top: 62vh;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 2vh;
  padding-bottom: 2vh;
  left: 70vw;
  font-family: "Sour Gummy";
  font-size: 36px;
  font-weight: 400;
  border: none;
  background: rgba(255, 255, 255, 0.7)

}



.selector{
  display: flex;
  justify-content: space-evenly;
  padding-top: 0vw;
  padding-left: 25vw;
  padding-right: 25vw;
}

.colour-selector{
  display: flex;
  flex-direction: column;
  height: 50vh;
  width: 10vw;
  z-index: 0;
  position: relative;
  justify-content: space-between;

}

.choice{
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: rgba(255, 255, 255, 0.3);
  border-color: black;
  border-width: 2px;
  border-style: solid;
  text-align: center;

 
}

.canola-flower{
    width: 25vw;
    padding-left: 17.5vw;
    margin-top: -5vh;
}



.shortRoots > .image{
  position: absolute;
  top: 72.5vh;
  left: 25vw;
  height: 20vh;
  z-index: 0;
}


.longRoots > .image{
    position: absolute;
    top: 73vh;
    left: 26vw;
    height: 20vh;
    z-index: 0;
}


.longRoots video{
  position: absolute;
  top: 50vh;
  left: 1.25vw;
  height: 25vh !important;
  width: 60vw !important;
}

.shortRoots video{
  position: absolute;
  top: 50.5vh;
  left: 0.75vw;
  height: 25vh !important;
  width: 60vw !important;
}

.tallPlant > .image{
  height: 50vh;
}


.tallPlant{
  position: absolute;
  left: 26vw;
  top: 25vh;
}

.shortPlant > .image{
  height: 40vh;
  position: absolute;
  left: 25vw;
  top: 35vh;
}


.shortplant > .animation{
  padding-left: 20vw;
  background-color: yellow;
  position: absolute;
  left: 16vw;
  top: 35vh;
}

.pos-div{
  position: absolute;
  width: 20vw !important;
  left: 25vw !important;
  top: 35vh !important;
}

.pos-div-2{
  position: absolute;
  width: 100% !important;
}

.shortPlantManyPods > .image{
  height: 40vh;
  position: relative;
  top: 0vh;
  left: -4.5vh;
}

.shortPlantManyPods video{
  height: 200vh !important;
  width: 200vh !important;
  position: relative;
  z-index: 1;
  left: -83vh;
  top: -77vh;

}

.shortPlantFewPods video{
  height: 70vh !important;
  width: 70vh!important;
  position: relative;
  top: -10vh;
  left: 28vh;
  z-index: 1;

}


.dna{
  height: 100vh;
  grid-row: 1;
  grid-column: 3;
  rotate: 20deg;
  position: relative;
  top: -20vh;
  left: -15vw;
  z-index: -1;
  object-fit: cover;
}

.dna-selector{
  grid-column: 2;
}


.gene-editor{
  display: grid;
  width: 100vw;
  grid-row: 2;
  grid-column: 1 span 2;
  grid-template-columns: 60vw 20vw 20vw;

}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.start_div{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.start_button{

  font-size: 75px;
  border-style: solid;
  border-color: black;
  color: black;
  margin-left: 40vw;
  margin-top: 60vh;
  display: inline-block;
  text-decoration: none;
}


.slide-div{
  position: relative;
}
.slide-text{
  position: absolute;
  z-index: 1;
  top: 15vh;
  font-size: 30px;
  margin-left: 10vw;
  margin-right: 10vw;
  line-height: 200%;

}

.arrow{
  position: absolute;
  z-index: 1;
  font-size: 48px;
  top: 22vh;
  left: 92vw;
  color: black;
  text-decoration: none;


}


.select-button {
  z-index: 1;
  position: absolute;
  padding-top: 2vh;
  padding-bottom: 2vh;
  padding-left: 1vw;
  padding-right: 1vw;
  background: rgba(255, 255, 255, 0.7)

}

.top-button {
  top: 30vh;
  left: 30vw;



}

.bottom-button{
  top: 70vh;
  left: 22vw;
}


.game-screen {
  background-image: url("Assets/Background.png");
  z-index: -2;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 20vh 80vh;
  grid-template-columns: 60vw 20vw 20vw;
}

.game-text {
  grid-row: 1;
  grid-column: 1;
  text-align: center;
  width: 60vw;
}

/* CSS for printing things */
@media screen{
  .hide {
    display: none;
  }
}


/*Modal */

.modal{
  position: fixed;
  z-index: 10;
  width: 70vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 15vw;
  margin-top: 15vh;
  padding-top: 2vh;
  padding-bottom: 2vh;
  background-color: gainsboro;
}

.keyboard{
  height: 30vh;
  z-index:200;
}
body{
  max-width: 100%;
  overflow-x: hidden;

}
