/* CSS for printing things */
@media screen{
    /*hide {
      display: none;
    }*/
}

@media print{
    @page{
        size: 101.6mm 152.4mm;
    }

.back{
    width: 100vw;
    height: 100vh;
    margin: 0px;
    
}

.postcard-div{ 
    position: relative;
    width: 100vw;
    height: 100vh;
    margin: 0px;
    background-color: blue;
    z-index: 0;

}
.postcard-background {
    z-index: -1;
    position: absolute;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    margin: 0px;
    
}
.postcard-flower {
    z-index: 0;
    position: absolute;
    width: 60vw;
    left: 20vw;
    top: 10vw;
    
}

.postcard-plant {
    z-index: 0;
    position: absolute;
    width: 60vw;
    left: 20vw;
    top: 10vw;
}

.postcard-text {
    z-index: 0;
    position: absolute;
    text-align: center;
    top: 90vh;
    margin: auto;
    width: 100vw;
}
}





