/* CSS for printing things */
@media screen{
    /*hide {
      display: none;
    }*/
}

@media print{
    @page{
        size: 101.6mm 152.4mm;
    }

}

.back{
    width: 100vw;
    height: 99vh;
    margin: 0px;
    
}

.postcard-div{ 
    position: relative;
    width: 100vw;
    height: 100vh;
    margin: 0px;
    z-index: 0;

}
.postcard-background {
    z-index: -1;
    position: absolute;
    object-fit: cover;
    width: 100vw;
    height: 99vh;
    margin: 0px;
    
}

.postcard-flower{
    position: absolute;
    left: 15vw;
    width: 22vw;
    z-index: 1;
    top: 0px;
  }

.postcard-plant{
    position: absolute;
    left: 45vw;
    top: 5vw;
    width: 100vw;
    z-index: 1;

}





